body {
    background-color: #e0e0e2;
}

h1, h2{
    text-decoration-color: #721817;
}

.center-text{
    text-align: center;
}

#logo {
    margin-left :auto;
    margin-right:auto;
    display:block;
}

h2.span {
    text-decoration-color: #FA9F42;
    font-size:  0.75em;
}

#copyright{
    padding-top: 12px;
     font-size:  0.75em;
}

